.first{
    position: absolute;
width: 211px;
height: 46px;
right: 3rem;
top: 2rem;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 46px;

color: #a20b0b;
}
.second{
    position: absolute;
width: 40px;
height: 20px;
right: 22rem;
top: -1.5rem;
}
.second img{
    width: 10rem;
}
.Wcard{
    display: inline-flex;
    justify-content: space-between;
}
